[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pytest = "*"
pytest-flask = "*"
black = "==19.3b0"
safety = "*"
mypy = "*"
flask-sqlalchemy = "*"
python-slugify = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
